
*{
    margin:0%;
    padding:0%;
}

#main{
    margin-top: 50px;
    display:grid ;
    grid-template-columns: repeat(6,200px);
    gap:20px;
    margin-left: 20px;
}
h1{
    text-align: center;
    font-size:38px;
    margin-top: 50px;
    opacity: 0.9;
}
#main>div{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
#main>div>img{
    width:100%;
    cursor: pointer;
}
#freshFind{
    margin-top: 50px;
    display:grid ;
    grid-template-columns: repeat(6,200px);
    gap:20px;   
}
#freshFind>div>img{
    width:100%;
    cursor: pointer;
}
#freshFind>div{
    text-align: center; 
}
#freshFind>div>p{
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    opacity: 0.8;
}
.banner{
    margin-top: 50px;
    cursor: pointer;
    text-align: center;
}
.banner>img{
    width:97%;
}
#overStock{
    margin-top: 50px;;
    display: grid;
    grid-template-columns: repeat(4,300px);
    justify-content:space-around ;
}
#overStock>div{
 text-align: center;
 box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 background-color: rgb(251, 252, 252);
 cursor: pointer;

}
#overStock>div>img{
    width:100%;
    text-align: center;
}
#overStock>div>p{
    width:150px;
    margin: auto;
    font-size: 18px;
    color: #242323;
}
#overStock>div>h4 {
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    opacity: 0.9;
   
}
#style{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
}
#style>div{
    text-align:start;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-left: 20px;;
}
#style>div>img{
    width:98% ; 
}
#style>div>p{
    margin-left: 20px;
    width:400px;
    font-size: 18px;
}
#style>div>h2{
    margin-left: 20px;
}

button{
     margin-top: 50px;
     padding:10px;
     margin-left: 42%;
     width:200px;;
     font-size: 20px;
     color:white;
     background-color: black;
     border-radius: 5px;
     cursor: pointer;
     opacity: 0.9;
}
 #treding{
    margin-top:50px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows:auto;
  gap:20px;
}
#treding>div{
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.332) 0px 2px 8px 0px;
  padding:15px;
  opacity: 0.8;
  background-color: #989f9f37;
  cursor: pointer;
}
#treding>div>p{
    width:300px;
}
hr{
    margin-top: 50px;;
}

#search_btn {
    width: 100%;
    height: 100%;
    margin-top: -1px;
    margin-left: -1px;
    background-color: white;
    /* background-color: red; */
    border: 1px solid transparent;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}

#search_btn>img {
    margin-left: -8px;
    margin-top: -10px;
    width: 350%;
    height: 250%;
    /* background-color: red; */
}

.butt_check button {
    color: white;
    width: 130%;
    height: 130%;
    padding: 5% 5%;
    margin-top: -10px;
    margin-right: 10px;
    background-color: #2f3337;
    border: 1px solid #2f3337;
}