body
{
    font-family: sans-serif;
    /* margin-top:160px; */
    margin: 0px;
    padding: 0px;
}
#container
{   
    /* margin-top:110px; */
    width: 90%;
    height: 1200px;
    margin: auto;
    display: flex;
}
#left_div
{
    width: 70%;
    height: 100%;
}
#left_div>div
{
    height: 300px;
    border: rgb(218,220,223) solid 1px;
    display: flex;
    margin-bottom: 10px;
}
#name{
    font-size: 16px;
}
#right_div
{
    width: 27%;
    margin-left: 1%;
    height: 300px;
    border: solid rgb(218,220,223) 1px;
}
#check_out
{
    border: black solid 1px;
    height: 50px;
    width: 80%;
    margin: auto;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
    margin-left: 30px;
}
img
{
    width: 33%;
    margin: 10px;
}
#remove
{
    font-size: 16px;
    margin-left:30px;
}
#remove:hover
{
    cursor: pointer;
}
#showTotal{
   text-align: center;
}

/* nabvar start */
#navbar{ 
    /* border: 1px solid red; */
    margin-top: 10px;
    /* position: relative; */
 }  
#right {
    /* border: 1px solid red; */
    /* width: 40%; */
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: -8px;
    margin-left: 50px;
}

#right>div:first-child {
    /* border: 1px solid red; */
    width: 10%;
    padding: 7px 10px;
    border-radius: 5px;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

#right>div:first-child img {
    width: 18px;
}

.rightSideIcons {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}

.rightSideIcons>img {
    width: 25px;
}

.rightSideIcons>a {
    text-decoration: none;
    font-size: 15px;
    color: black;
}

.profile:hover {
    /* border-bottom: 5px solid red; */
    padding: 20px 15px 15px 15px;
}
#india_logo{
    width: 55px;
}
#india_logo > img{
    /* border: 1px solid red; */
    width: 80%;
}